/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');

div.header {
    background: linear-gradient(258.31deg, rgba(87, 188, 144, 0.855) 3.51%, rgba(119, 201, 212, 0.855) 91.11%), url(../img/img_home.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 600px;
    /* display: flex; */
    color: white;
    padding: 5rem 4rem 5rem;
}
h2{
    font-family: 'Roboto Slab', serif;
}
div.header__title{
    margin-top: 3rem;
}
div.section{
    align-content: center;
}
div.container{
    width: 80%;       
}
div.card{
    border-radius: 0.6rem;
}
div.card-action > a{
    color: #231f20;
}
span.card-title{
    font-family: 'Roboto Slab', serif;
}