div.container{
    margin-top: 2rem;
}
div.row{
    justify-content: center;
}
form{
    padding: 0.5rem;
}
div.form-row{
    padding: 1rem 1.5rem 1rem;
   
}
button.login-btn{
    background-color: #231f20;
}