@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;
@use '../tools/mixins.scss' as m;

/* Acceso a el login y el fomulario de registro */
.main-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));   
    justify-content: space-evenly;
    box-sizing: border-box;
    align-content: space-around;
    text-align: center; 
    background-color: c.$marine;
     background-size: cover;
    div{

    padding: 3rem;
    width: 100%;
    height: 700px;
    background-image: url('../../img/login.jpg');
   
    }
    p{
        font-family: sans-serif;
    }
    
}
div.main-content__der{
    background-color: indianred;
}
button{
    
    @include m.boton;
}